<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Demo</servlet-name>
    <servlet-class>com.fd.Admin.controller.Demo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo</servlet-name>
    <url-pattern>/Demo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageBrandCategory</servlet-name>
    <servlet-class>com.fd.Admin.controller.ManageBrandCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageBrandCategory</servlet-name>
    <url-pattern>/ManageBrandCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageClient</servlet-name>
    <servlet-class>com.fd.Admin.controller.ManageClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageClient</servlet-name>
    <url-pattern>/ManageClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageBrand</servlet-name>
    <servlet-class>com.fd.Admin.controller.ManageBrand</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageBrand</servlet-name>
    <url-pattern>/ManageBrand</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageDepot</servlet-name>
    <servlet-class>com.fd.Admin.controller.ManageDepot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageDepot</servlet-name>
    <url-pattern>/ManageDepot</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageTrade</servlet-name>
    <servlet-class>com.fd.Admin.controller.ManageTrade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageTrade</servlet-name>
    <url-pattern>/ManageTrade</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageRetailClient</servlet-name>
    <servlet-class>com.fd.Admin.controller.ManageRetailClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageRetailClient</servlet-name>
    <url-pattern>/ManageRetailClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageStore</servlet-name>
    <servlet-class>com.fd.Admin.controller.ManageStore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageStore</servlet-name>
    <url-pattern>/ManageStore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageChain</servlet-name>
    <servlet-class>com.fd.Admin.controller.ManageChain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageChain</servlet-name>
    <url-pattern>/ManageChain</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageStoreStatus</servlet-name>
    <servlet-class>com.fd.Admin.controller.ManageStoreStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageStoreStatus</servlet-name>
    <url-pattern>/ManageStoreStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageMeasurementStatus</servlet-name>
    <servlet-class>com.fd.Admin.controller.ManageMeasurementStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageMeasurementStatus</servlet-name>
    <url-pattern>/ManageMeasurementStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageJobCardStatus</servlet-name>
    <servlet-class>com.fd.Admin.controller.ManageJobCardStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageJobCardStatus</servlet-name>
    <url-pattern>/ManageJobCardStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageCostType</servlet-name>
    <servlet-class>com.fd.Admin.controller.ManageCostType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageCostType</servlet-name>
    <url-pattern>/ManageCostType</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageCostItem</servlet-name>
    <servlet-class>com.fd.Admin.controller.ManageCostItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageCostItem</servlet-name>
    <url-pattern>/ManageCostItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MndJobCardAssignment</servlet-name>
    <servlet-class>com.fd.Connect.controller.MndJobCardAssignment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MndJobCardAssignment</servlet-name>
    <url-pattern>/MndJobCardAssignment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>com.upload.controller.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Download</servlet-name>
    <servlet-class>com.upload.controller.Download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/Download</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Testing</servlet-name>
    <servlet-class>com.upload.controller.Testing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Testing</servlet-name>
    <url-pattern>/Tested</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>c:\DMS\Temp</param-value>
  </context-param>
  <context-param>
    <param-name>file-download</param-name>
    <param-value>c:\DMS\Report</param-value>
  </context-param>
  <servlet>
    
    <display-name>ManageAssociates</display-name>
    <servlet-name>ManageAssociates</servlet-name>
    <servlet-class>com.fd.Admin.controller.ManageAssociates</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>JobCardStatusUpdate</display-name>
  	<servlet-name>JobCardStatusUpdate</servlet-name>
  	<servlet-class>
  	com.fd.Connect.controller.JobCardStatusUpdate</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UploadDocument</display-name>
  	<servlet-name>UploadDocument</servlet-name>
  	<servlet-class>
  	com.upload.controller.UploadDocument</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DocumentLibrary</display-name>
  	<servlet-name>DocumentLibrary</servlet-name>
  	<servlet-class>
  	com.fd.Connect.controller.DocumentLibrary</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DownloadDocument</display-name>
  	<servlet-name>DownloadDocument</servlet-name>
  	<servlet-class>
  	com.upload.controller.DownloadDocument</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>LoginAuthentication</display-name>
  	<servlet-name>LoginAuthentication</servlet-name>
  	<servlet-class>
  	com.fd.login.LoginAuthentication</servlet-class>
  </servlet>
  
    <servlet>
  	<description>
  	</description>
  	<display-name>ManageDocumentType</display-name>
  	<servlet-name>ManageDocumentType</servlet-name>
  	<servlet-class>
  	com.fd.Admin.controller.ManageDocumentType</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ManageAssociates</servlet-name>
    <url-pattern>/ManageAssociates</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JobCardStatusUpdate</servlet-name>
  	<url-pattern>/JobCardStatusUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadDocument</servlet-name>
  	<url-pattern>/UploadDocument</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DocumentLibrary</servlet-name>
  	<url-pattern>/DocumentLibrary</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DownloadDocument</servlet-name>
  	<url-pattern>/DownloadDocument</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginAuthentication</servlet-name>
  	<url-pattern>/LoginAuthentication</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
  	<servlet-name>ManageDocumentType</servlet-name>
  	<url-pattern>/ManageDocumentType</url-pattern>
  </servlet-mapping>
  
  <session-config>
  <session-timeout>30</session-timeout>
  </session-config>
</web-app>