<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
 <servlet>
<servlet-name>branchreginsert</servlet-name>
<servlet-class>BranchRegInsert</servlet-class>
</servlet>

<servlet>
<servlet-name>mgreginsert</servlet-name>
<servlet-class>ManagerRegInsert</servlet-class>
</servlet>

<servlet>
<servlet-name>policyreginsert</servlet-name>
<servlet-class>PolicyRegInsert</servlet-class>
</servlet>

<servlet>
<servlet-name>BranchModify</servlet-name>
<servlet-class>BranchModify</servlet-class>
</servlet>

<servlet>
<servlet-name>ManagerModify</servlet-name>
<servlet-class>ManagerModify</servlet-class>
</servlet>

<servlet>
<servlet-name>PolicyModify</servlet-name>
<servlet-class>PolicyModify</servlet-class>
</servlet>

<servlet>
<servlet-name>AgentRegInsert</servlet-name>
<servlet-class>AgentRegInsert</servlet-class>
</servlet>


<servlet>
<servlet-name>AgentModify</servlet-name>
<servlet-class>AgentModify</servlet-class>
</servlet>

<servlet>
<servlet-name>CustRegInsert</servlet-name>
<servlet-class>CustRegInsert</servlet-class>
</servlet>

<servlet>
<servlet-name>CustModify</servlet-name>
<servlet-class>CustModify</servlet-class>
</servlet>


<servlet>
<servlet-name>CustPolyRegInsert</servlet-name>
<servlet-class>CustPolyRegInsert</servlet-class>
</servlet>


<servlet>
<servlet-name>PremiumTX</servlet-name>
<servlet-class>PremiumTX</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>branchreginsert</servlet-name>
<url-pattern>/branchreginsert</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>mgreginsert</servlet-name>
<url-pattern>/mgreginsert</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>policyreginsert</servlet-name>
<url-pattern>/policyreginsert</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>BranchModify</servlet-name>
<url-pattern>/BranchModify</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>ManagerModify</servlet-name>
<url-pattern>/ManagerModify</url-pattern>
</servlet-mapping>
  
 <servlet-mapping>
<servlet-name>PolicyModify</servlet-name>
<url-pattern>/PolicyModify</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>AgentRegInsert</servlet-name>
<url-pattern>/AgentRegInsert</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>AgentModify</servlet-name>
<url-pattern>/AgentModify</url-pattern>
</servlet-mapping>


<servlet-mapping>
<servlet-name>CustRegInsert</servlet-name>
<url-pattern>/CustRegInsert</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>CustModify</servlet-name>
<url-pattern>/CustModify</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>CustPolyRegInsert</servlet-name>
<url-pattern>/CustPolyRegInsert</url-pattern>
</servlet-mapping>




<servlet-mapping>
<servlet-name>PremiumTX</servlet-name>
<url-pattern>/PremiumTX</url-pattern>
</servlet-mapping>


<welcome-file-list>
<welcome-file>home.htm</welcome-file>
</welcome-file-list>

</web-app>
