body {
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	font-size: 12px;
	margin: 0;
}

#filter_div{
border:#778 2px solid;
background:#CFD6D5;
 margin:35px 0px 0px 0px; 
}


#area_detail{
position:absolute;
width:1310px;
height:400px;
margin:40px 0px 0px 4px;
}

#delete_button{
position:absolute;
margin:10px 0px 0px 0px;
}

#area_add{
position:absolute;
width:1020px;
height:240px;
border:#778 2px solid;
background:#e0e0e0;
margin:45px 0px 0px 130px;

}

#area_update{
position:absolute;
width:470px;
height:270px;
border:#778 2px solid;
background:#CFD6D5;
margin:35px 0px 0px 830px;

}

#area_detail table{

border:#778 2px solid;
margin:1px 0px 0px 0px;

}
/* #area_detail table,td,th{
border:#778 1px solid;
} */
/* #area_detail th,td{
height:25px;
} */

#area_detail th{
background:url(../media/bluetab.gif) top left repeat-x;
color: #39939C;;
}

#filt_div{
font-family:verdana;
font-weight:bold;
width:1300px;
height:35px;
border:#778 2px solid;
background:#CFD6D5;
margin:0px 0px 0px 0px;
position:relative;
}

#insert_div{
	
	font-size: 11px;
}