body {
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	font-size: 12px;
	margin: 0px;
}

#maincontent{
	margin: 0px auto;
	width: 1360px;
}

#country_div{
	 position: relative; 
	 display: none;
}

#country_detail{
	position:absolute;
	width:770px;
	height:400px;
	overflow:auto;
	border-right:#778 1px solid;
	margin:35px 0px 0px 0px;
}

#delete_button input {
	width: 175px;
}

#delete_button{
	position:absolute;
	margin:10px 0px 0px 0px;
}

#country_add{
	position:absolute;
	width:400px;
	height:270px;
	border:#778 2px solid;
	background:#CFD6D5;
	margin:35px 0px 0px 830px;
}

#country_update{
	position:absolute;
	width:470px;
	height:270px;
	border:#778 2px solid;
	background:#CFD6D5;
	margin:35px 0px 0px 830px;
	display:none;
}

#country_detail table{
	width:710px;
}
#country_detail table,td,th{
	border:#778 1px solid;
}
#country_detail th,td{
	height:25px;
}

#country_detail th{
	background:url('media/bluetab.gif') top left repeat-x;
	color: rgb(70, 66, 66);
}

#filt_div{
	font-family:verdana;
	font-weight:bold;
	width:1300px;
	height:35px;
	border:#778 2px solid;
	background:#CFD6D5;
	margin:0px 0px 0px 0px;
	position:relative;
}