body {
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	font-size: 12px;
	margin: 0px;
}

#maincontent{
	margin: 0px auto;
	width: 1360px;
}

#material_type_detail{
position:absolute;
width:770px;
height:400px;
overflow:auto;
border-right:#778 1px solid;
margin:35px 0px 0px 0px;
}

#delete_button{
position:absolute;

margin:10px 0px 0px 0px;
}

#material_type_add{
position:absolute;
width:470px;
height:270px;
border:#778 2px solid;
background:#CFD6D5;
margin:35px 0px 0px 830px;
//display:none;
}

#material_type_update{
position:absolute;
width:470px;
height:270px;
border:#778 2px solid;
background:#CFD6D5;
margin:35px 0px 0px 830px;
display:none;
}

#material_type_detail table{
width:710px;
}
#material_type_detail table,td,th{
border:#778 1px solid;
}
#material_type_detail th,td{
height:25px;
}

#material_type_detail th{
background:url('media/bluetab.gif') top left repeat-x;
color: rgb(70, 66, 66);
}




