body
{
background-color:#39939C;
font-family:Arial, Helvetica, sans-serif;
padding:0;
font-size:12px;
margin:0 auto;
color: #0e4354;
height:100%;
}
.clear{
clear:both;
}
a{
color:#256c89;
}
h2{
font-size:18px;
color:#256c89;
font-weight:normal;
padding:0px 0 15px 0;
margin:0px;
clear:both;
}
h3{
font-size:18px;
color:#256c89;
font-weight:normal;
padding:15px 0 5px 20px;
margin:0px;
float:left;
clear:both;
}
#main_container{
margin:0 auto;
width:900px;
padding:0px 0 0px 0;
}
.header_login{
width:600px;
margin:auto;
}
.logo{
float:left;
padding:35px 0 0 0;
}
.footer{width:900px;height:87px;background:url(../images/footer_bg.jpg) no-repeat center top;}
.footer_login{width:600px;margin:auto;}

.left_footer{float:left;padding:25px 0 0 10px;color:#a8549b;font-size:11px;}
.left_footer a{color:#FFFFFF;text-decoration:none;}
.right_footer{float:right;padding:25px 10px 0 0;}

.left_footer_login{float:left;padding:15px 0 10px 10px;color:#a8549b;font-size:11px;}
.left_footer_login a{color:#FFFFFF;text-decoration:none;}
.right_footer_login{float:right;padding:15px 10px 0 0;}

.error_image_align{float:left;padding:0 0 0 5px;color:#a8549b;font-size:11px;}

